body
{
    font-family: 'Rubik Microbe', cursive;
background: rgb(1, 0, 61)
}

.header_div
{
color:red;
background: rgb(1, 0, 61)
}

.header_div p
{
color:red;
font-family: 'Roboto', sans-serif;
letter-spacing:2px;
font-size:12px;
font-weight: bold;
}

.main_div button
{
font-family:Georgia, 'Times New Roman', Times, serif;
margin-top: 30px;
width:130px;
font-weight:bolder;
letter-spacing: 3px;
}
